.navbar-default{
	margin-bottom: 0;
	.navbar-nav{
		margin-top: 40px;		
	}
	.dropdown-menu{
		padding: 0;
		& > li > a{
			padding: 14px 20px;
			font-size: 16px;
		}
	}
	.navbar-brand{
		height: auto;
		padding: 5px 15px;
	}
}
